
{% extends "base.html" %}

{% block content %}
<h1>Add a Blog Entry</h1>
<br>
<form action="/newpost" method="post">
    <table>
        <tr>
            <td>
                <label for="blogtitle">Title for your new blog:</label>
            </td>
        </tr>
        <tr>
            <td>
                <input name="blogtitle" type="text">
            </td>
        </tr>

        <br>
        <br>

        <tr>
            <td>
                <label for="blogcontent">Your new blog:</label>
            </td>
        </tr>
        <tr>
            <td>
                <input name="blogcontent" type="text" width="300" height="400">
            </td>
        </tr>
    </table>
    <input type="submit" value="Add Entry">
</form>
{% endblock %}