
{% extends "base.html" %}

{% block content %}
<h1>Add a Blog Entry</h1>
<form action="/newpost" method="POST">
    <table>
        <tr>
            <td>
                <label for="blogtitle">Title for your new blog:</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="blogtitle" type="text" name="blogtitle" />
            </td>
        </tr>
        <tr>
            <td>
                <p class="error">{{blogtitle_error}}</p>
            </td>
        </tr>

        <br>
        <br>

        <tr>
            <td>
                <label for="blogcontent">Your new blog:</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="blogcontent" type="text" name="blogcontent" width="300" height="400" />
            </td>
        </tr>
        <tr>
            <td>
                <p class="error">{{blogcontent_error}}</p>
            </td>
        </tr>
    </table>
    <input type="submit" value="Add Entry">
</form>
{% endblock %}